---
import Owlion from "../assets/how-it-works/owlion.svg";
import Skirmysh from "../assets/how-it-works/skirmysh.svg";
import Oversized from "../assets/how-it-works/oversized.svg";
import Troople from "../assets/how-it-works/troople.svg";
import Background from "../assets/backgrounds/grey_background.png";
const cards = [
  {
    logo: {
      file: Owlion,
      height: 80,
      width: 118,
    },
    tag: "Gamification",
    description:
      "Owlion Studio brings training courses to life through immersive and interactive multimedia experiences, designed to meet specific customer needs.",
    href: "https://be.linkedin.com/company/owlionstudio",
  },
  {
    logo: {
      file: Skirmysh,
      height: 42,
      width: 170,
    },
    tag: "Custome business applications",
    description:
      "Skirmysh is dedicated to creating technology solutions, whether they are tools, websites or complex business applications that address the most complex challenges of companies or public organizations.",
    href: "#",
  },
  {
    logo: {
      file: Oversized,
      height: 22,
      width: 192,
    },
    tag: "Communication & Marketing",
    description:
      "Oversized uses its digital marketing expertise to help its clients develop effective strategies to engage with their audiences.",
    href: "#",
  },
  {
    logo: {
      file: Troople,
      height: 99,
      width: 133,
    },
    tag: "Data science",
    description:
      "Troople offers solutions in data science, machine learning and predictive analysis to better understand the market and strategic issues of companies.",
    href: "https://troople.be/",
  },
];
---

<script>
  import Swiper from "swiper";
  import "swiper/css";
  const swiper = new Swiper(".how__swiper", {
    slidesPerView: 1.4,
    centeredSlides: true,
    loop: true,
    spaceBetween: 18,
    breakpoints: {
      809: {
        centeredSlides: true,
        loop: false,
        slidesPerView: 2.2,
        initialSlide: 2,
      },
      1300: {
        centeredSlides: false,
        loop: false,
        slidesPerView: 4,
      },
    },
  });
</script>

<section id="services" class="how">
  <div class="how__header">
    <span class="how__title">See how it works.</span>
    <p class="how__text">
      As a full-service partner to ambitious minds, we bridge the gap between
      the needs and the solutions.<br />
      We guide promising talent towards mature business opportunities to help you
      reach your full potential in the digital age.
    </p>
  </div>
  <div class="how__swiper swiper">
    <div class="how__swiper-wrapper swiper-wrapper">
      {
        cards.map((card, index) => (
          <div data-index={index * 120} class="swiper-slide how__swiper-slide">
            <span class="how__tag">{card.tag}</span>
            <div class="how-card">
              <figure class="how-card__figure">
                <img
                  style={"width:" + card.logo.width + "px;"}
                  width={card.logo.width}
                  height={card.logo.height}
                  src={card.logo.file}
                  alt=""
                />
              </figure>
              <p class="how-card__description">{card.description}</p>
              <a target="_blank" class="how-card__link" href={card.href}>
                visit website
              </a>
              <figure class="how-card__background">
                <img src={Background} alt="" />
              </figure>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .how {
    max-width: 1300px;
    margin: 0 auto;
  }
  .how__header {
    display: flex;
    gap: 80px;
  }
  .how__title {
    font-size: 2rem;
    line-height: 1.25;
    flex-shrink: 0;
  }
  .how__text {
    font-size: 1.125rem;
    line-height: 150%;
  }
  .how__swiper {
    width: 100%;
    margin-top: 100px;
  }
  .how__swiper-slide:nth-child(even) {
    padding-top: 120px;
  }
  .how__tag {
    color: #f3260a;
    font-size: 1rem;
    border: 1px solid #f3260a;
    display: block;
    width: fit-content;
    border-radius: 30px;
    padding: 10px 14px;
    margin-bottom: 1rem;
    line-height: 1;
    font-weight: 400;
  }
  .how-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 416px;
    gap: 40px;
    padding: 60px 2rem;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }
  .how-card__figure {
    width: 100%;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .how-card__description {
    font-size: 1.125rem;
    text-align: center;
    color: white;
    line-height: 165%;
  }
  .how-card__link {
    text-decoration: underline;
    color: #c1cccd;
    transition: color 300ms;
  }
  .how-card__link:hover {
    color: white;
  }
  .how-card__link:focus,
  .how-card__link:active {
    text-decoration: none;
  }
  .how-card__background {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }
  .how-card__background img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @media (max-width: 1332px) {
    .how__title {
      padding: 0 2rem;
    }
    .how__text {
      padding: 0 2rem;
    }
    .how__swiper-slide {
      padding-top: 0 !important;
    }
  }
  @media (max-width: 809px) {
    .how-card {
      padding: 40px 36px;
    }
    .how {
      margin-bottom: 180px;
    }
    .how__header {
      flex-direction: column;
      gap: 40px;
    }
  }
</style>
